:root {
    --default-font: -apple-system, BlinkMacSystemFont, "SegoeUI", Roboto, "HelveticaNeue", Arial, "NotoSans", sans-serif;
    --default-font-size: 18px;
    --default-h1-font-size: calc(var(--default-font-size) * 2.5);
    --default-h2-font-size: calc(var(--default-font-size) * 1.75);
    --default-h3-font-size: calc(var(--default-font-size) * 1.5);
    --default-h4-font-size: calc(var(--default-font-size) * 1.25);
    --default-h5-font-size: calc(var(--default-font-size) * 1.1);
    --default-h6-font-size: calc(var(--default-font-size) * 1);

    --default-h1-spacing: 30px;
    --default-h2-spacing: 25px;
    --default-h3-spacing: 20px;
    --default-h4-spacing: 15px;
    --default-h5-spacing: 10px;
    --default-h6-spacing: 5px;

    --default-border-radius: 5px;

    --default-text-color: #1c1a27;
    --high-contrast-text-color: #d1d0d0;
    --default-link-color: #007e5e;
    --default-link-hover-color: #60fbd5;

    --primary-color: #3848a3;
    --secondary-color: #cad7db;
    --accent-color-1: #1c1a27;
    --accent-color-2: #312d4a;
}

h1 {
    font-size: var(--default-h1-font-size);
    margin-top: var(--default-h1-spacing);
    margin-bottom: var(--default-h1-spacing);
}
h2 {
    font-size: var(--default-h2-font-size);
    margin-top: var(--default-h2-spacing);
    margin-bottom: var(--default-h2-spacing);
}
h3 {
    font-size: var(--default-h3-font-size);
    margin-top: var(--default-h3-spacing);
    margin-bottom: var(--default-h3-spacing);
}
h4 {
    font-size: var(--default-h4-font-size);
    margin-top: var(--default-h4-spacing);
    margin-bottom: var(--default-h4-spacing);
}
h5 {
    font-size: var(--default-h5-font-size);
    margin-top: var(--default-h5-spacing);
    margin-bottom: var(--default-h5-spacing);
}
h6 {
    font-size: var(--default-h6-font-size);
    margin-top: var(--default-h6-spacing);
    margin-bottom: var(--default-h6-spacing);
}

a { text-decoration: none; }
a, a:visited { color: var(--default-link-color) }
a:hover, a:active { color: var(--default-link-hover-color) }

body {
    margin: 0;
    font-family: var(--default-font);
    font-size: var(--default-font-size);
    color: var(--default-text-color);
    text-align: justify;
}

.container {
    margin: 0 auto;
    padding: 25px 10% 25px 10%;
}

/*----------------------------------------------------------------------------
-- Static Page Element Styles
----------------------------------------------------------------------------*/

aside {
    position: sticky;
    top: 0;
}

aside .container {
    padding: 1px 10% 1px 10%;
    background-color: var(--accent-color-1);
    color: var(--high-contrast-text-color);
}

aside ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0px;
}

aside a, a:visited { color: inherit }

#main { background-color: var(--secondary-color); }

footer .container {
    display: grid;
    grid-template-columns: 1fr 125px auto 1fr;
    grid-template-rows: auto auto;
    color: var(--high-contrast-text-color);
    background-color: var(--accent-color-2);
}

footer a, a:visited { color: inherit }

footer .container ul {
    list-style-type: none;
    padding-left: 10px;
    list-style-position: inside;
}

footer .container .profile-pic {
    grid-row: 1;
    grid-column: 2;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5%;
}

footer .container .contact-info {
    grid-row: 1;
    grid-column: 3;
    display: flex;
    flex-direction: column;
}

footer .container .socials {
    display: flex;
    justify-content: left;
    padding-left: 0px;
}

footer .container #last-modified {
    grid-row: 2;
    grid-column: span 4;
}

/*----------------------------------------------------------------------------
-- Home Page Styles
----------------------------------------------------------------------------*/

.home-page header .container{
    display: grid;
    grid-template-columns: 1fr 200px 400px 1fr;
    grid-template-rows: auto auto;
    column-gap: 10px;
    background-color: var(--primary-color);
    color: var(--high-contrast-text-color);
}

.home-page header .container .profile-pic {
    grid-column: 2;
    grid-row: span 2;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.home-page header .container h1 {
    grid-column: 3;
    grid-row: 1;
}

.home-page header .container p {
    grid-column: 3;
    grid-row: 2;
}

.home-page section.education table tr>td:first-child {
    width: 12ch;
    text-align: left;
    font-weight: bold;
}

.home-page section.education table tr>td {
    padding-bottom: 10px;
}

.home-page section.skills .language-list{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    max-width: 60ch;
}

.home-page section.skills .skill-list{
    display: grid;
    row-gap: 5px;
    grid-template-columns: 1fr;
}

/*----------------------------------------------------------------------------
-- Projects Page Styles
----------------------------------------------------------------------------*/

.projects-page .comparison-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2ch;
    text-align: left;
}

.projects-page .comparison-table span{
    font-style: italic;
}

.projects-page .comparison-table li{
    padding-bottom: 5px;
}
